@charset "utf-8";
* { margin: 0; padding: 0; }

body,html {
	font-weight:normal;
	font-family:Segoe UI, Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#333;
	background:#cdcdcd url(images/bk_body.jpg) repeat;
	line-height:135%;
}

a {
	text-decoration:none;
	color:#1FA2E1;
}

a:hover {
	text-decoration:underline;
}

a:focus {
	outline:none;
}

p {
	margin:1.5em 0;
	color:#FFF;
	 text-shadow: 1px 1px #000;
	 padding-left: 20px;
}

h1 {
	font-size:30px;
	font-weight:normal;
	line-height: 100%;
}

h1 a{
	color:#1F88A7;
}

h1 a:hover {
	text-decoration:none;
	color:#333;
}

h2{
	font-size:20px;
	line-height: 100%;
	padding: 5px;
}

h3{
	font-size:16px;
	line-height: 100%;
}

code { font-family:"Courier New", Courier, monospace; }

blockquote {
	border-left:1px dashed #AAAAAA;
	color:#555;
	font-family:Georgia,"Times New Roman",Times,serif;
	font-style:italic;
	line-height:18px;
	margin:15px 0 15px 20px;
	padding-left:20px;
}

ul {
    /*list-style: none outside none;*/
}

 /* LAYOUT STRUCTURE
--------------------------------------------------*/
#mainWrapper {
	background:url(images/bk_main_wrapper.png) 0 0 repeat-x;
	margin-top: 0px;
}
#mainwrap{
background-color: #191816;
width: 100%;
height: 52px;
margin: 0px 0px;
position: relative;

}
#wrapper {
	margin:0px auto;
	width:960px;
	/*background-color: #525050;*/
}

#header {
	height:180px;
	position:relative;
	margin-top: 0px;
	
}

#content {
	padding-bottom:20px;
	overflow:hidden;
	/*background:url("images/node.png") 695px 0 repeat;*/
	margin-top:0px;
 	text-shadow:#eee 1px 1px;
	min-height:550px;
	
}
#content-main {
	padding-bottom:20px;
	overflow:hidden;
	background:url("images/node.png") 695px 0 repeat;
	margin-top:0px;
 	text-shadow:#eee 1px 1px;
	min-height:550px;
	-moz-border-radius:4px;
   -webkit-border-radius:4px;
}
#content #colLeft {
	float:left;
	width:654px;
	margin-right:30px;
	padding-top:10px;
}

#content #colRight {
	float:left;
	width:265px;
}

#footer {
	background:#111;
	padding:15px 0 30px;
	margin-top:20px;
	text-shadow:1px 1px #000;
	border-top:3px solid #000;
	text-align: center;
}

#footerInner {
	width:960px;
	margin:0 auto;
	padding:20px 0 35px;
	overflow:hidden;
}


/* HEADER ELEMENTS
-----------------------------------*/

/* -- logo-floater --*/
#logo-floater {
	position:absolute;
	top:30px;
	left:0;
	font-family:"Times New Roman",Georgia,Serif;
	font-size: 18px;
	margin-left: 30px;
}

#logo-floater a img{
	border:none;
	vertical-align:middle;
	margin-left: 0px;
}
#logo-floater-name{
margin: -50px 0 0 140px;
}
#topMenu {
	position:absolute;
	left:10px;
	top:0px;
	text-shadow:-2px -2px #000;
}

#topMenu ul.primary-links li {
	display: block;
	float: left;
	color:#ccc;
	text-transform:none;
	padding: -44px 10px 0 50px;
   
}


#topMenu ul.primary-links li a {
	float:left;
	display:block;
	height:10px;
	color:#3FAEA5;
       padding: 16px 0 0 61px;
	text-transform:uppercase;
	
}


#topMenu ul.primary-links li a:hover, #topMenu ul.primary-links li a.selected, #topMenu ul.primary-links li a.active  {
	text-decoration:none;
	/*background:url(images/bk_topmenu_hover.jpg) 0 0 repeat-x;*/
	color:#FFF;
	text-shadow:1px 1px #666;
}

/* top social links */

#topSocial {
	position:absolute;
	right:0;
	top:0px;
}

#topSocial ul { list-style: none outside none; padding:0; margin:0;}

#topSocial ul li {
	float:left;
	padding:8px 10px;
	width:45px;
}

#topSocial ul li a {
	display:block;
	height:40px;
	width:40px;
	background:url(images/bk_topsocial.png) 0 0 no-repeat;
	text-indent:-9999px;
}

#topSocial ul li a.twitter {
	background:url(images/ico_social_twitter.png) 0 0 no-repeat;
}	

#topSocial ul li a.facebook {
	background:url(images/ico_social_facebook.png) 0 0 no-repeat;
}

#topSocial ul li a.rss {
	background:url(images/ico_social_rss.png) 0 0 no-repeat;
}


/*#topSocial ul li a.twitter:hover, #topSocial ul li a.facebook:hover, #topSocial ul li a.rss:hover {
	background-position:0 -49px;
}*/

/* Top Search */

#topSearch {
	position:absolute;
	right:0;
	top:5px;
	margin-right: 200px;
	
}


#topSearch input[type="text"] {
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    border: 1px solid #FFFFFF;
    font-style: italic;
	margin:0 -31px 0 0;
    padding: 4px 10px;
    position: relative;
    width: 160px;
    height: 23px;
    background-color: #191816;
}

#topSearch label { color:#ffffff; font-weight:normal;}

#topSearch input[type="submit"] {
    background: url("images/ico_search.png") no-repeat scroll 98% 50%;
    margin:0 12px 0 0;
    padding: 0 2px 0 0;
    position: relative;
    width: 25px;
    height: 40px;
	border:none;
	text-indent: -9999px;
	cursor:pointer;
}

/* CONTENT ELEMENTS
-----------------------------------*/

pre {
	font-size: 1.3 em; 
	padding:10px; 
	background: #E3E8EA;
	display:block;
	border:1px solid #FDFDFD;
	margin-bottom:25px;
	clear:both;
}

#content #colLeft ul li, #content #colLeft ol li  {
	/*padding:5px 0 5px 20px;
	background:url(images/bullet_list.png) 0 8px no-repeat;*/
}

#content #colLeft ol li {
	background:none;
	padding-left:0;

}

#content #colLeft ul, #content #colLeft ol {
	margin:0;
}

/* POST BOXES */

#content .node-front {
	float:left;
	/* 	margin:0 42px 30px 0; */
	margin:0 15px 30px 15px;
	width:290px;
	background:url(images/box_botttom_shadow.png) 50% 100% no-repeat;
	padding-bottom:5px;
	position:relative;
}


#content .lastBox {
	margin-right:0;
}

#content .nodeInner {
	
	background: url("images/node.png") repeat top right;
	/*background:#F7F9F9;*/
	padding:10px;
	border:2px solid #000;
	-moz-border-radius:8px;
    -webkit-border-radius:8px;
	/* 	height:260px; */
	height:355px;
	font-size:12px;
	overflow:hidden;
}

#content .nodeInner div.excerpt {
	height:80px;
}

/*#content .nodeInner:hover {
/*	background:#FFF;
	border:8px solid #EEF2F2;
}*/

#content .node-front .nodeInner img {
	padding:0;
	width:255px;
	overflow:hidden;
}


.node-front div.field-type-image { 
	display:block; 
	overflow:hidden; 
	height:120px; 
}

.node-front.node-sticky div.field-type-image { 
	display:block; 
	overflow:hidden; 
	height:auto; 
}

#content .node-front.node-sticky  .nodeInner img {
	padding:10px;
	width:430px;
	height:290px;
}

#content .nodeInner p {
	margin:0 0 1.5em;
}

#content .nodeInner div.meta{
	font-size:11px;
	color:#888;
	margin:0;
	text-transform:uppercase;
	position:absolute;
	left:18px;
	bottom:25px;
}

#content .nodeInner div.meta img {
	vertical-align:middle;
}

#content .node-front .nodeInner h2 {
	font-size:20px;
	font-weight:normal;
	line-height: 110%;
    margin-bottom: 0;
    padding: 10px 0;
}

#content #colLeft .node-front .nodeInner h2 {
	margin-bottom:0;
}

#content .nodeInner h2 a {
	color:#000;
}

#content .nodeInner h2 a:hover {
	color:#1FA2E1;
	text-decoration:none;
}

#content .node-sticky .nodeInner h2 a:hover {
	color:#399b8c;
	text-decoration:none;
}

#content .node-front .node-readmore a{
	position:absolute;
	bottom:-5px;
	right:20px;
	display:block;
	width:46px;
	height:46px;
	text-indent:-9999px;
	background:url(images/bk_readmore.png) 0 0 no-repeat;
}

#content .node-front .nodeInner ul.links li.upload_attachments {
	display:block;
}

#content .node-front.node-sticky .nodeInner ul.links li.upload_attachments {
	display:inline-block;
}

#content .node-front .node-readmore:hover a{
	background:url(images/bk_readmore.png) 0 -46px no-repeat;
}

#content img {
    -moz-border-radius: 8px 8px 8px 8px;
    background: none repeat scroll 0 0 #EEF2F2;
    border: medium none;
    padding: 10px;
}

#content img.node-front-image, .node-front .field-name-field-tags, .node-taxonomy .field-name-field-tags   {
	display:none;
}

#content .node-front img.node-front-image  {
	display:block;
}

#content .node-front.node-sticky  {
    float: left;
    position: relative;
    width: 450px;
	margin: 0;
    padding: 0 15px 30px 15px;
	border:none;
	background:none;
    background: url("images/bk_dotted_big.png") repeat-x scroll 0 100% transparent;
    margin-bottom: 30px;
}

#content .node-front.node-sticky.node-taxonomy  {
    margin-left:87px;
}

#content .node-front.node-sticky .nodeInner {
	background: url("images/featured_bubble.png") no-repeat scroll 365px 0 transparent;
	border:none;
	padding:0;
	overflow: hidden;
	display:block;
	height:500px;
}

#content .node-front.node-sticky .nodeInner h2, #content #colLeft .node-front.node-sticky.node-taxonomy .nodeInner h2 { 
    font-weight: normal;
    line-height: 100%;
    margin-bottom: 25px;
    padding-right: 80px;
    padding-top: 5px;
	font-size:240%;
}

#content .node-front .nodeInner h2{ 
min-height:30px;
}

#content .node-front.node-sticky .node-readmore a{
    background: url("images/bk_readmore.png") no-repeat scroll 0 -46px transparent;
    display: block;
    height: 46px;
    left: 370px;
    position: absolute;
    text-indent: -9999px;
	top: 365px;
    width: 46px;
}

#content .node-front.node-sticky .node-readmore a:hover {
    background-position:0 0;
}

ul.links li { padding:0 4px; }

ul.links li.comment_comments, ul.links li.comment-add, ul.links li.comment-forbidden { background: transparent url("images/ico_post_comments.png") no-repeat left center; margin:0 0 0 5px; padding:0 0 0 15px;}

#colLeft ul.links li.comment-add { float:right; font-size:140%; color:#1FA2E1;}

ul.links li.comment-add a{ color:#1FA2E1;}

#content #colLeft h1, #content #colLeft h2 {
    margin-bottom: 20px;
}

#content .meta {
    background: url("images/bk_dotted_big.png") repeat-x scroll 0 100% transparent;
    color: #666666;
    font-size: 11px;
    /*margin: 0  0 15px;*/
    padding-bottom: 18px;
    text-transform: uppercase;
}

#content #colLeft div.submitted {
	margin:0 0 18px 0;
	padding: 0 0 18px 0;
	border:none;
	background:none;
    background: url("images/bk_dotted_big.png") repeat-x scroll 0 100% transparent;
}

#content #colLeft div.field-name-field-tags  {
background: url("images/ico_tag.png") no-repeat scroll 0 50% transparent;
margin:0 0 0 20px;
padding:0 0 0 20px;
}

#content #colLeft div.field-name-field-tags  .field-item { float:left; display:inline-block; padding:0 20px 0 0; }


#content #colLeft div.meta ul li {
    background: none repeat scroll 0 0 transparent;
}

/* COL RIGHT
--------------------------------*/

#colRight .block  {
	background:url(images/box_botttom_shadow_right.png) 50% 100% no-repeat;
	padding-bottom:4px;
	margin-bottom:12px;
}

#colRight .blockInner {
	margin-top: 30px;
	background:none;
	padding:20px;
	padding-bottom:20px;
	-moz-border-radius:8px;
    -webkit-border-radius:8px;
	border:2px solid #000;
	min-height: 23px
}

#colRight .blockInner h2 {
	padding:10px 0;
	text-transform:uppercase;
	font-size:15px;
	border-bottom:1px solid #ddd;
}

#colRight .blockInner ul.menu {
	padding:0;
	margin:0;
}

#colRight .blockInner ul.menu li {
	margin:0;
	list-style:none;
}

#colRight .blockInner ul li{
	padding:6px 0;
	border-bottom:1px solid #ddd;
}

#colRight .blockInner ul li, #colRight .blockInner p, #colRight .blockInner div {
	text-shadow:none;
}

#colRight .blockInner p {
	margin:0.7em 0;
}

/* PAGINATION */

ul.pager {overflow:hidden;text-align:center; /*background:url(images/bk_pagination.png) 0 50% repeat-x;*/ margin:15px auto 0; font-size:18px;  padding-right:2px; }

ul.pager li.pager-current { background:url(images/bk_pagination_item.png); margin:0 5px;display:block; overflow:hidden; width:41px; height:31px; text-align:center; text-decoration:none; float:left; font-weight:bold; padding:10px 0 0 0; color:#000; }
ul.pager li a { background:url(images/bk_pagination_item.png);color:#26B8A3; margin:0 5px;display:block;overflow:hidden;  width:41px; height:31px; text-align:center; text-decoration:none; float:left;padding-top:10px; font-weight:bold; }
ul.pager li a:hover { color:#000; }
ul.pager li.pager-next a, ul.pager li.pager-last a, ul.pager li.pager-first a,ul.pager li.pager-previous a{ background:none; width:61px; }
ul.pager li.pager-previous a{ width:91px; }
.item-list .pager li { padding: 0; }
.item-list ul li { margin:0; }

/* FOOTER ELEMENTS
--------------------------------*/
/* Footer Widgets */

#footerInner .blockFooter {
	float:left;
	width:210px;
	padding-right:30px;
	overflow:hidden;
	margin-bottom:30px;
	color:#ccc;
}


#footerInner h2 {
	font-size:20px;
	border-bottom:1px solid #292929;
	padding:7px 0 12px;
	margin-bottom:2px;
	color:#ccc;
	font-weight:normal;
	text-shadow:none;
}

#footerInner .blockFooter ul.menu {
	padding:0;
}

#footerInner .blockFooter ul li, #footerInner .blockFooter ul.menu li {
	padding:7px 0;
	margin:0;
	border-bottom:1px dotted #292929;
	list-style: none outside none;
}

#footerInner .blockFooter ul li a {
	text-decoration:none;
	color:#555;
	font-size:13px;
	font-style:normal;
}

#footerInner .blockFooter ul li a:hover {
	color:#ccc;
}

#footer-message { clear:both; color:#CCCCCC; }

#footerInner .blockFooter p { margin:10px 0 20px 0; }


/* Comments */

.comment, .comment-level1, .comment-level2 {
	background: url("images/bk_dotted_big.png") repeat-x scroll 0 100% transparent;
    margin-top: 25px;
    padding: 0 0 20px 0;
    position: relative;
}

div.comment h3 { padding: 5px 0 0 0; }

#content #colLeft div.comment  ul { margin:0; }

#content #colLeft div.comment  ul li { background:none; font-size:12px; font-weight:bold; text-transform:uppercase; padding:0 5px 0 0; }

h2.comments, #comments h2{
    background: url("images/ico_comments.png") no-repeat scroll 0 50% transparent;
    display: block;
    margin: 20px 0 0;
    padding: 10px 0 10px 40px;
}


/* COMMENTS F0RM */

#comment-form p {
	margin:0;
	padding:0;
}

#comment-form label {
	display:block;
	padding:5px 0;
}

#comment-form input.form-text, #comment-form textarea {
	border:1px solid #fff;
	border-top:1px solid #B8C4C5;
	border-left:1px solid #B8C4C5;
	padding:8px;
	margin-bottom:10px;
   -moz-border-radius:4px;
   -webkit-border-radius:4px;
    width:350px;
}

#comment-form input.form-autocomplete { padding:3px 4px; }

#comment-form input.form-text:focus, #comment-form textarea:focus {
	border:1px solid #45C0B6;
}


#comment-form textarea {
	font-family:Segoe UI, Arial, Helvetica, sans-serif;
	font-size:13px;
	width:630px;
}

#comment-form input#submit{
	border:none;
	width:161px;
	height:42px;
	margin-top:10px;
	cursor:pointer;
	background:url(images/but_form.png) 0 0 no-repeat;
	color:#FFF;
	font-size:12px;
	padding-bottom:14px;
	text-shadow:1px 1px #23829F;
}


/* FORMS
--------------------------------*/

/* Top Search */

/*#topSearch input[type="text"] {
	-moz-border-radius:4px; 
	-webkit-border-radius:4px;
	width:160px;
	background:#fff url(images/ico_search.png) 98% 50% no-repeat;
	padding:4px 10px 4px;
	font-style:italic;
	margin-right:10px;
	position:relative;
	-moz-border-radius:6px;
    -webkit-border-radius:6px;
	border:1px solid #fff;
}

#topSearch input[type="submit"] {
	position:absolute;
	right:0;
	z-index:100;
	width:43px;
	height:44px;
	background: transparent url(images/but_search.png) 0 0 no-repeat;
	border:none;
	cursor:pointer;
}	

 #topSearch input[type="text"] .form-text {
    /*-moz-border-radius: 6px 6px 6px 6px;
    border: 1px solid #FFFFFF;
    font-style: italic;
	margin:0 -31px 0 0;
    padding: 4px 10px;
    position: relative;
    width: 160px;
    height: 23px;
    background-color: #191816;
}*/

/* Contact Form */

#contact { padding:20px 0 0 0; } 

#contact label {
	display:block;
	padding:0 0 5px 0;
}

#contact input, #contact textarea {
	border:1px solid #fff;
	border-top:1px solid #B8C4C5;
	border-left:1px solid #B8C4C5;
	padding:8px;
	margin-bottom:10px;
   -moz-border-radius:4px;
   -webkit-border-radius:4px;
   	width:350px;
}


#contact textarea {
	width:560px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}

#contact input[type="submit"]{
	border:none;
	width:161px;
	height:42px;
	margin-top:10px;
	cursor:pointer;
	background:url(images/but_form.png) 0 100% repeat-x;
	color:#FFF;
	font-size:12px;
	padding-bottom:14px;
	text-shadow:1px 1px #23829F;
}


table {width:100%; border-spacing:0; border:1px solid #dedfe1; border-collapse:collapse; text-align:left;}
table th { background:#E3E8EA; border-bottom: 1px solid #CCCCCC; }
table tr.odd { background:none; }
table tr.even { background:none; }
table td , table th{ padding:5px; }

/*  --------------------------------------------------------------------- */
table { margin:15px 0; border: 1px solid #cdcdcd; border-collapse:collapse; border-spacing:0; font-size:100%; width: 100%;}
th { text-align:center; font-weight:bold; border: 1px solid #cdcdcd;}
th, td { padding:4px 6px; border: 1px solid #cdcdcd;}
tr.table-top {background: #e5e5e5; font-weight: bold;}

/*  --------------------------------------------------------------------- */
ul, ol { display:block; margin:15px 0 15px 20px; }
ul ul, ul ul ul, ol ol, ol ol ol ,
#content #colLeft ul, #content #colLeft ol, #content #colLeft ul ul, #content #colLeft ul ul ul, #content #colLeft ol ol, #content #colLeft ol ol ol { margin:0; margin-left:20px; }
ol { list-style-type:decimal; }
ol ol { list-style-type:upper-alpha; }
ol ol ol {list-style-type:lower-alpha; }
li { display:list-item; list-style-position: inside; }

#autocomplete ul,#autocomplete ul li:hover { background:#ffffff; margin:0; padding:0; color:#1FA2E1; cursor:pointer;}

#content #colLeft #autocomplete ul  { margin:0;} 

#content #colLeft #autocomplete ul li { background:none; padding:0;} 

div.messages.status {
	background:#44c0b6;
	border:1px solid #333;
	padding:10px;
	margin:0 0 15px 0;
	color:#ffffff;
	text-shadow:none;
}

div.messages.status a, div.messages.error a, div.messages.warning a { color:#ffffff; text-decoration:underline; }

div.messages.error {
	background:#d93628;
	border:1px solid #333;
	padding:10px;
	margin:0 0 15px 0;
	color:#ffffff;
	text-shadow:none;
}

div.messages.warning {
	background:#de7800;
	border:1px solid #333;
	padding:10px;
	margin:0 0 15px 0;
	color:#ffffff;
	text-shadow:none;
}

a.smashing:link, a.smashing:active, a.smashing:visited, a.smashing:hover, a.drupalizing:link, a.drupalizing:active, a.drupalizing:visited, a.drupalizing:hover {
    background: url("images/footer-logo-smashing.png") no-repeat scroll center top transparent;
    display: block;
    float: left;
    height: 54px;
    margin: 0;
    outline: 0 none;
    padding: 0;
    text-indent: -9999px;
    width: 154px;
}

a.drupalizing:link, a.drupalizing:active, a.drupalizing:visited, a.drupalizing:hover {
    background: url("images/footer-logo-drupalizing.png") no-repeat scroll center top transparent;
}


/*****Custom******/

.container-inline{
float: left;
padding: 0px 0px;
}

.container-inline label { 
	color:#fff; 
	font-weight:normal;
	
	}
/*
.container-inline input[type="text"] {
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    border: 1px solid #FFFFFF;
    font-style: italic;
	margin:0 -31px 0 0;
    padding: 4px 10px;
    position: relative;
    width: 160px;
    height: 23px;
    background-color: #191816;
}

.container-inline input[type="submit"] {
    background: url("images/ico_search.png") no-repeat scroll 98% 50%;
    margin:0 12px 0 0;
    padding: 0 2px 0 0;
    position: relative;
    width: 25px;
    height: 40px;
	border:none;
	text-indent: -9999px;
	cursor:pointer;
}*/

.twitter{
float: right;
}
/*
.form-text error .container-inline input[type="text"]{
    /*-moz-border-radius: 6px 6px 6px 6px;
    border: 1px solid #FFFFFF;
    font-style: italic;
	margin:0 -31px 0 0;
    padding: 4px 10px;
    position: relative;
    width: 160px;
    height: 23px;
    background-color: #191816;
}*/
.search-advanced{
margin-top:10px;
}
/*#topMenu .menu-608 {
background-image: url("images/home-menu.jpg");
background-repeat: no-repeat;
width: 20px;
height: 20px;
border:1px solid white;
border-radius:5px;
}
#topMenu .menu-609:hover{
background-image: url("images/services-menu.jpg");
background-repeat: no-repeat;
width: 20px;
height: 20px;
border:1px solid white;
border-radius:5px;
}
#topMenu .menu-610:hover{
background-image: url("images/project-menu.jpg");
background-repeat: no-repeat;
width: 25px;
height: 20px;
border:1px solid white;
border-radius:5px;
}
#topMenu .menu-611:hover{
background-image: url("images/contact-main.jpg");
background-repeat: no-repeat;
width: 20px;
height: 20px;
border:1px solid white;
border-radius:5px;
}*/

.rss{

margin-top: 3px;
}
#top-content{
width: 100%;
min-height: 350px;
/*border: 1px solid #fff;*/
padding-bottom:30px;
text-shadow:#eee 1px 1px;
position:relative;
z-index:2;
overflow: hidden;
}
#top-content .top-c1{
width: 40%;
float: left;
padding: 5px 5px 0 0;
min-height: 190px;
color:#000;
}

#top-content .top-c2{
width: 40%;
float: right;
padding: 5px 35px 0 0;
min-height: 190px;
color:#000;

}
.blockInner
{
color:#000;
}
.blockInner .view-id-top_c1, .blockInner .view-id-top_c2 {
padding-top: 10px;

}

/*.blockInner #views_slideshow_cycle_teaser_section_top_c1-block_1{
border:8px solid #fff;
	-moz-border-radius:8px;
    -webkit-border-radius:8px;
}*/


#slideshow-wrapper{
width:100%;
background: transparent url(images/slideshow-shadow.gif) no-repeat center bottom;
height:350px;
margin-bottom:10px;
margin-top:10px;
}

.slideshow-inner{
width:950px;
margin:0 auto;
height:350px;
position:relative;
z-index:1;
overflow: hidden;
}

#slideshow-preface {
float:left;
position:absolute;
text-align:left;
z-index:4;
}

.slideshow {
width:950px;
height:350px;
position:relative;
z-index:2;
overflow: hidden;
}

#bottom-content{
margin:0;
padding:0;
border: 0px solid black;
/*min-height: 100px;*/
background: url("images/node.png") repeat scroll right top transparent;
-moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}
#content-bottom{
	float: left;
	overflow: hidden;
	margin-bottom: 10px;
	width: 100%;
	}
#content-bottom .column {
float: left;
}	
#content-bottom.in1 .column{
width: 100%;
}	
#content-bottom.in2 .column{
width: 50%;
}	
#content-bottom.in3 .column{
width: 33.3%;
}	
.no-contentbottom1,.no-contentbottom3,.no-contentbottom2{width:75%; margin-left:0; border-left: none;}
.no-contentbottom2{width:75%px; border-right: none;}
.no-contentbottom3{width:100%px; border-right: none;}
.no-contentbottom1-2-3-4{width:100%; margin-left:0; border-right: none; border-left: none;}


#content-bottom .content{
padding: 10px
}
#edit-submit, #edit-submit--3, #edit-preview, #edit-comment-body-und-0-format--2{
background-color: #191816;
 -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #FFFFFF;
    margin-left: 2px;
}
#edit-keys{
width: 300px;
}

#node-1 .links{
margin-top:-3px;
}
#node-2 .links{
margin-top:20px;
}
#node-3 .links{
margin-top:-3px;
}

#comment-form {
    color: #000000;
    font-size: 11px;
    margin: 0;
    text-transform: uppercase;
}
